{{!-- {{#each this}} --}}
<div class="cards-containerj">
<div class="cardj">
    <p>Posted by: {{user.firstName}} {{user.lastName}}</p>
    <p>Contact: {{comment.user.email}}</p>
    <p>{{comment.createdAt}}</p>
    <h6>{{comment.comment}}</h6>
</div>
</div>
{{!-- {{/each}} --}}